<h3>Searched from the Marvel Universe</h3>


<section class="comic-images-container">
    <% data.forEach(function(image) { %>
      
      <img src= <%= image.comicImg%> />
   
    <% }) %>
  </section>
