<h3>Searched from the Marvel Universe</h3>


<section class="comic-images-container">
    <% data.forEach(function(image) { %>
      <a href="/details/<%= image.id%>">
         <img src= <%= image.comicImg%> />
      </a>
    <% }) %>
</section>
