<h1>Favorite Comics</h1>



<% favorites.forEach(function(comicbook) { %>
    <li><%= comicbook.title %></li>
    <a href="/favorites/<%= comicbook.id%>">
        <img src= <%= comicbook.image%> />
     </a>
     <form action="/delete/<%= comicbook.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Trash it!">
    </form>
    <% }); %>

    <footer>
        <p>Data provided by Marvel. © 2014 Marvel</p>
    </footer>