

<h3>Welcome to the portal into the Marvel Universe</h3>

<p>The movies are great. 
    
<p>Well, some of them.</p>

<p>But let's take it back to the literature where all that fanciness originates.</p>

<hr>

<p>Use the search to find comic book title or your favorite superhero.</p>

<form action="/comic" method="POST">
    <label for="comic">title</label>
    <input id="comic" type="text" name="comic">
  
    <label for="superhero">superhero</label>
    <input id="superhero" type="text" name="superhero">
  
    <input type="submit" value="'nuff said">
  </form>
<!-- <ul>
    <li><a href="/auth/signup">Sign up</a></li>
    <li><a href="/auth/login">Log In</a></li>
</ul> -->

