<h3>Welcome to the portal into the Marvel Universe</h3>

<p>The movies are great. 
    
<p>Well, some of them.</p>

<p>But let's take it back to the literature where all that fanciness originates.</p>

<hr>

<p>Use the search to find comic book title or your favorite superhero.</p>

<form action="/results" method="GET">
    <label for="search">Search comicbooks</label>
    <input id="comic" type="text" name="search">
    
    <label for="search">Search characters</label>
    <input id="character" type="text" name="search">

    <label for="year">Search year</label>
    <input id="year" type="text" name="search">

    <input type="submit" value="'nuff said">
</form>



  <!-- <ul>
    <li><a href="/auth/signup">Sign up</a></li>
    <li><a href="/auth/login">Log In</a></li>
</ul> -->

