<h3>Welcome to the portal into the Marvel Universe</h3>

<p>The movies are great. 
    
<p>Well, some of them.</p>

<p>But let's take it back to the literature where all that fanciness originates.</p>

<hr>

<p>Use the search to find comic book title or your favorite superhero.</p>


<!-- <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
  </div>
</div> -->

<!-- <div class="dropdown-content">
  <input type="button" value="Select">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
</div> -->


<!--Work on drop down button-->
<form action="/results" method="GET">
    <label for="search">Search</label>
    <input id="search" type="text" name="search">
    
    <input type="submit" value="'nuff said">
</form>


  <!-- <ul>
    <li><a href="/auth/signup">Sign up</a></li>
    <li><a href="/auth/login">Log In</a></li>
</ul> -->

