body {
  background: darkgrey;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: rgb(0, 102, 255);
}

h3 {
  color:blue;
}

.comic-images-container a {
  display: flex;
  justify-content: center;
    flex-wrap: wrap;
}

.comic-images-container img {
    flex: 1 31%;
    max-width: 31%;
    box-shadow: 0 4px 10px rgb(0 0 0 / 40%);
    margin: 10px 20px;
}

